{% extends "base.html" %}
{% block title %}
ReadTheSign
{% endblock title %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="card">
    <div class="card-body bg-light">
        <h3 class="card-title">About</h3>
        <p class="card-text">
            It is estimated by the WHO that there are 466 million people in
            the world with disabling hearing loss (6.1 %). Given the
            prevalence of this disability, American Sign Language (ASL)
            was developed naturally over time so that these individuals
            are able to communicate with others. One limitation of ASL is
            that not all people are familiar with this language, and must
            rely on a translator to communicate with ASL users.
            Additionally, learning ASL can be challenging, as it has its
            own rules for “pronunciation, word formation, and word order”.
            To alleviate this issue, our product is envisioned to be a
            web application that is capable of translating ASL into
            spoken languages and vice-versa. We hope to take text as an
            input, and generate the translation into ASL in the form of
            visual output and vice versa. The aim of our project is to
            help deaf or other hard-of-hearing people communicate with
            others. Specifically, our product could potentially aid
            teachers at school communicating with children that are
            hard-of-hearing or deaf.

        </p>
    </div>
</div>
{% endblock content %}