{% extends "bootstrap/base.html" %}
{% block title %}
ReadTheSign
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body bg-light">
        <h3 class="card-title">ReadTheSign</h3>
        <p class="card-text">
            Given the prevalence of disabling hearing loss in society,
            our product is envisioned to be an application that would
            translate from American Sign Language (ASL) to English.
            Included in our customer segment are families/workplaces
            with ASL users and schools that may want a more efficient
            way for ASL users to communicate with students/teachers.
        </p>
    </div>
</div>
{% endblock %}